#gameView {
    width: 1280px;
    height: 720px;
    background-image: url('../images/Game-Back.png');
    position: absolute;
    top: 0px;
    left: 0px;
}

.scoresheet{
    position:absolute;
    top:15px;
    left:30px;
    color:#fff;
    font-size:25px;
    width:100%
}

.playstack{
    width:950px;
}
.playstack img{
    display:inline
}
.centerStack{
    position:absolute;
    top:340px;
    left:600px;
}
.leftStack{
    position:absolute;
    top:340px;
}
.rightStack{
    position:absolute;
    top:340px;
    left:666px;
}
.leftStackRow{
    top:310px
}
.margingleft{
    margin-left:39px !important;
}
.margingleft180{
    margin-left:6px
}
.mgleft180{
    margin-left:34px !important
}

.pdright180{
    padding-right:5px;
}
.remainingcards{
    position:absolute;
    top:550px;
    right:30px;
}
.remainingcount{
    position:absolute;
    top:600px;
    right:40px;
    font-size:30px;
    border:1px solid;
    -webkit-border-radius:50px;
    font-weight:bold;
    color:#00ccff;
    width:50px;
    height:50px;
    padding-top:20px;
    padding-left:10px;
    margin-right:4px;
    z-index:5000
}
/*rotation*/
.r0            { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); }
.r45            { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); }
.r90            { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);margin-right:29px}
.r180           { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);}
.r270           { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg);margin-right:29px}
.r360           { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg)}