* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: "JF Flat Regular";
    src: url('fonts/JF-Flat-regular.eot');
    src: url('fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('fonts/JF-Flat-regular.woff') format('woff'), url('fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Layout */
body,html {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: JF Flat Regular;
    color:#fff;
    font-size:16px;
}
h1,h2,h3,h4,.confirm,p{
    font-family: JF Flat Regular;
}
.confirm{
    background-color:#136abd !important;
}
.keyhelp{
    width:1280px;
    height:40px;
    background-color:#ffbd00;
    position:absolute;
    top:680px;
    left:0px;
    font-weight:bold;
}
.ico_txt{
    padding-top:4px;
    font-size:17px
}
.ico{
    margin-right:10px;
}
.exit_ico{
    background-image:url("../images/icons/back.png");
    width:28px;
    height:28px;
}
.nav_ico{
    background-image:url("../images/icons/help_ud.png");
    width:28px;
    height:28px;
}
.enter_ico{
     background-image: url("../images/icons/enter.png");
    width:28px;
    height:28px;

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}