#menuView {
    width: 1280px;
    height: 720px;
    background-image: url('../images/Domino-Back.png');
      margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo {
        background-image: url('../images/Domino-Logo.png');
        width: 717px;
        height: 213px;
        margin-left: 30%;
        margin-top: 2%;
    }

.scan {
        background-image: url('../images/Scan-Button.png');
        width: 309px;
        height: 105px;
    }

.rules {
        background-image: url('../images/Rules-Button.png');
        width: 309px;
        height: 105px;
    }

.about {
        background-image: url('../images/About-Button.png');
        width: 309px;
        height: 105px;
    }


.ico{
    margin-right:5px;
}
.exit_ico{
    background-image:url("app/images/icons/back.png");
    width:28px;
    height:28px;
}
.nav_ico{
    background-image:url("app/images/icons/help_ud.png");
    width:28px;
    height:28px;
}
.enter_ico{
     background-image: url("app/images/icons/enter.png");
    width:28px;
    height:28px;

}