<link href="app/css/about.css" rel="stylesheet" />
<div id="aboutView" ng-click="dummy()">
    <div style="margin-top:4%;width:90%;margin-left:5%;border:1px solid #fff;-webkit-border-radius:10px;padding:50px">
        <div>
            eSprit Solutions cares about redefining your TV Experience through interactive applications, Experiences that delivered seamlessly across devices.
        </div>
        <div style="margin-top:5%">
            MultiDominoes is MultiScreen Application
            which allow you to share your game experience with your family or with your friends over Samsung Smart TVs. We hope you interest with the game & send to us your feedback & suggestions.
        </div>
        <div style="margin-top:5%;text-align:center">
            <div style='color:#12c1ea'><img style='width:30px;height:30px; vertical-align: text-top;' src='app/images/website.png' /> www.eSprit-Solutions.com</div>
            <div style='color:#12c1ea'><img style='width:30px;height:30px;  vertical-align: text-top;' src='app/images/email.png' /> info@eSprit-Solutions.com</div>
        </div>
    </div>
    <div class="keyhelp">
        <div class="row" style="position:relative;right:0px;direction:rtl;margin-right:10px;">
            <div class="ico exit_ico" ng-click="return()"></div>
            <div class="ico_txt" ng-click="return()">Return</div>
        </div>
    </div>
</div>
