<link href="app/css/menu.css" rel="stylesheet" />
<div id="menuView" data-ng-init="playSound()">
    <div class="row logo"></div>
    <div class="row" style="margin-top:2%; margin-left: 40%;">
        <div data-ng-click="keyAction()" class="scan" ng-mouseover="highlight(0)">
        </div>
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;">
        <div data-ng-click="keyAction()" class="rules" ng-mouseover="highlight(1)"></div>
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;">
        <div data-ng-click="keyAction()" class="about" ng-mouseover="highlight(2)"></div>
    </div>
</div>
