<link href="app/css/menu.css" rel="stylesheet" />
<div id="menuView" >
    <div class="row logo"></div>
    <div class="row" style="margin-top:2%; margin-left: 40%;">
        <div data-ng-click="keyAction()" class="scan" ng-mouseover="highlight(0)">
        </div>
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;">
        <div data-ng-click="keyAction()" class="rules" ng-mouseover="highlight(1)"></div>
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;">
        <div data-ng-click="keyAction()" class="about" ng-mouseover="highlight(2)"></div>
    </div>
    <div class="keyhelp">
        <div class="row" style="position:relative;right:0px;direction:rtl;margin-right:10px;">
            <div class="ico exit_ico" ng-click="exit()"></div>
            <div class="ico_txt" ng-click="exit()">Exit</div>
            <div class="ico nav_ico"></div>
            <div class="ico_txt">Navigation</div>
            <div class="ico enter_ico" ng-click="keyAction()"></div>
            <div class="ico_txt" ng-click="keyAction()">Enter</div>
            <!--<div class="ico red_ico" ng-show="channelError" ng-click="establishChannel()"></div>
            <div class="ico_txt" ng-show="channelError" ng-click="establishChannel()">Establish Channel</div>-->
        </div>
    </div>
</div>
<audio autoplay loop>
    <source src="app/sounds/domino-start.mp3" type="audio/mp3" />
</audio>

