<link href="app/css/menu.css" rel="stylesheet" />
<div id="menuView" >
    <div class="row logo"></div>
    <div class="row" style="margin-top:2%; margin-left: 40%;">
        <div data-ng-click="keyAction()" class="scan" ng-mouseover="highlight(0)">
        </div>
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;">
        <div data-ng-click="keyAction()" class="rules" ng-mouseover="highlight(1)"></div>
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;">
        <div data-ng-click="keyAction()" class="about" ng-mouseover="highlight(2)"></div>
    </div>
    <div class="keyhelp">
        <div style="position:relative;right:0px;top:20px;float:right;margin-right:10px;">
            <span class="enter_ico"></span>
            <span>Enter</span>
            <span class="nav_ico"></span>
            <span>Navigation</span>
            <span class="exit_ico"></span>
            <span>Exit</span>
        </div>
    </div>
</div>
