<link href="app/css/qr.css" rel="stylesheet" />
<div id="qrView">
    <div style="margin-top:2%;">
        <div style="position:absolute;top:50px;left:10px;width:300px;font-size:25px;line-height:120%">
           <div class="row" style="padding-bottom:30px">
               <div class="col-50" style="padding-bottom:30px">Android</div>
               <div class="col-50">Supported</div>
           </div>
            <div class="row" style="padding-bottom:30px">
                <div class="col-50" style="padding-bottom:30px">IOS</div>
                <div class="col-50" style="padding-bottom:10px">Comming Soon</div>
            </div>
            <div class="row" style="padding-bottom:30px">
                <div class="col-50">Windows Phone</div>
                <div class="col-50">Comming Soon</div>
            </div>
        </div>
     <div style="text-align:center">
         <img src="app/images/Qr.png" />
     </div>
    </div>
    <div style="position:absolute;top:50px;left:970px;width:300px;font-size:35px;line-height:120%">
        Scan this Qr from Your Device & download App on your Mobile device.
    </div>
    <div class="keyhelp">
        <div class="row" style="position:relative;right:0px;direction:rtl;margin-right:10px;">
            <div class="ico exit_ico" ng-click="return()"></div>
            <div class="ico_txt" ng-click="return()">Return</div>
        </div>
    </div>
</div>
