<link href="app/css/rules.css" rel="stylesheet" />
<div id="rulesView" >
    <div style="margin-top:4%">
        <div class="title">Game Initialization</div>
        <div class="items">* The game begins by shuffling the dominoes and dealing a hand to each player.</div>
        <div class="items">* Each Player starts with 7 cards.</div>
        <div class="items">* The player with the highest double makes the first move.</div>

        <div class="title" style="margin-top:3%">Gameplay</div>
        <div class="items">* The first player can start by playing any domino from his hand.</div>
        <div class="items">* The play proceeds and each next player adds a matching domino to an open end of the board.</div>
        <div class="items">* In case the player cannot play, he should draw from the boneyard.</div>
        <div class="items">* When the boneyard cards have been finished, player should pass his turn.</div>
        <div class="items">* The round continues until one player runs out of dominoes,or no more plays can be made.</div>

        <div class="title" style="margin-top:3%">Scoring</div>
        <div class="items">* The player with the lowest hand wins the round.</div>
        <div class="items">* If there is a tie,the winner is the player with the lowest individual domino.</div>
        <div class="items">* The winner  receives the sum of all points in other player's hands minus the sum of points in his own.</div>
    </div>
</div>


<audio autoplay loop>
    <source src="app/sounds/domino-start.mp3" type="audio/mp3" />
</audio>
