<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">How to Play Dominoes</h3>
    </div>
    <div class="modal-body">
        <div>
            <h4>Setup</h4>
            <ul style="list-style-type:disc">
                <li>The game begins by shuffling the dominoes and dealing a hand to each player.</li>
                <li>Each Player starts with 7 dominoes.</li>
                <li>The player with the highest double makes the first move.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h4>Gameplay</h4>
            <ul style="list-style-type:disc">
                <li>The first player can start by playing any domino from their hand.</li>
                <li>The play proceeds and each next player adds a matching domino to an open end of the board.</li>
                <li>In case the player cannot move,they must draw from the boneyard until they receive a domino that they can play.</li>
                <li>A player who cannot make a move and cannot draw because the boneyard is empty must pass their turn.</li>
                <li>The round continues until one player runs out of dominoes,or no more moves can be made.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h4>Scoring</h4>
            <ul style="list-style-type:disc">
                <li>The player with the lighest hand(least number of  dots on their remaining dominoes) wins the round.</li>
                <li>If there is a tie,the winner is the player with the lightest individual domino.</li>
                <li>The winner  receives the sum of all points in their opponent's hands,minus the sum of points in their own hand and the
                    next round begins.
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$dismiss()">OK</button>
    </div>
</div>