<link href="app/css/waiting.css" rel="stylesheet" />
<div id="waitingView" ng-click="dummy()">
    <div class="row logo"></div>
    <div class="row" style="margin-top:4%;margin-left: 40%;" data-ng-class="playersLength>1 ? 'startHL':'start'" data-ng-click="checkStart()">
    </div>
    <div class="row" style="margin-top:2%;margin-left: 40%;text-align:center;font-size:16px" data-ng-show="playersLength==1" >
        Waiting for other players to be connected
    </div>
    <div class="list" style="margin-top:2%;margin-left: 36%;text-align:center;width:35%" >
        <div class="item animate" data-ng-repeat="client in clients" style="background-color:transparent !important;color:#fff !important;font-size:20px;font-weight:bold;-webkit-border-radius:5px !important;">{{client.attributes.name}} has been connected successfully....</div>
    </div>
    <div class="keyhelp">
        <div class="row" style="position:relative;right:0px;direction:rtl;margin-right:10px;">
            <div class="ico exit_ico" ng-click="return()"></div>
            <div class="ico_txt" ng-click="retun()">Return</div>
            <div class="ico enter_ico" ng-click="start()" ng-show="playersLength>1"></div>
            <div class="ico_txt" ng-click="start()" ng-show="playersLength>1">Start</div>
        </div>
    </div>
</div>
<!--<audio media-player="audioshuffle">
    <source src="app/sounds/domino-shuffle.mp3" type="audio/mp3" />
</audio>-->