<link href="app/css/winning.css" rel="stylesheet" />
<div id="winningView">
    <div class="row winnerlogo"></div>
    <!--<div class="list" style="margin-top:2%;margin-left: 36%;text-align:center;width:35%">
        <div class="item row animate" data-ng-repeat="score in scoreSheet" style="background-color:transparent !important;color:#fff !important;font-size:20px;font-weight:bold;-webkit-border-radius:5px !important;">
            <div class="col-50">{{score.name}}</div>
            <div class="col-50">{{score.score}}</div>
        </div>
        </div>-->
    <div class="row winnerpalyer">{{winnerPlayer.name +' : '+winnerPlayer.score }} </div>
    <div  ng-click="continue()" class="row  continue" style="margin-left:35%;margin-top:8%;"></div>
    <!--<div ng-mouseover="highlight(1)" ng-click="exit()" class="row return" style="margin-left:40%;margin-top:2%;"></div>-->

    <div class="keyhelp">
        <div class="row" style="position:relative;right:0px;direction:rtl;margin-right:10px;">
            <div class="ico exit_ico" ng-click="return()"></div>
            <div class="ico_txt" ng-click="return()">Return</div>
            <!--<div class="ico nav_ico"></div>
            <div class="ico_txt">Navigation</div>-->
            <div class="ico enter_ico" ng-click="keyAction()"></div>
            <div class="ico_txt" ng-click="keyAction()">Enter</div>
        </div>
    </div>
</div>
<audio autoplay>
    <source src="app/sounds/winner.mp3" type="audio/mp3" />
</audio>
